<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
<display-name>CustomerComplaintRegistrationApplication</display-name>


	<context-param>
		<param-name>ApplicationContext</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>


	<servlet>

		<servlet-name>hello</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>



	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/videos/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>default</servlet-name>
		<url-pattern>/fonts/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/images/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
<servlet-mapping>
	<servlet-name>default</servlet-name>
		<url-pattern>/fonts/font-awesome-4.7.0/fonts/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>default</servlet-name>
		<url-pattern>/fonts/poppins/*</url-pattern>
	</servlet-mapping>

<!-- <servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/fonts/font-awesome-4.7.0/*.ttf</url-pattern>
	</servlet-mapping>
	 <servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/fonts/font-awesome-4.7.0/*.woff</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/fonts/font-awesome-4.7.0/*.woff2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/fonts/montserrat/*.ttf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/fonts/poppins/*.ttf</url-pattern>
	</servlet-mapping> -->
	<!-- <servlet-mapping> <servlet-name>default</servlet-name> <url-pattern>/fonts/*</url-pattern> 
		</servlet-mapping> <servlet-mapping> <servlet-name>default</servlet-name> 
		<url-pattern>/plugins/*</url-pattern> </servlet-mapping> <servlet-mapping> 
		<servlet-name>default</servlet-name> <url-pattern>/vendor/*</url-pattern> 
		</servlet-mapping> -->


	<welcome-file-list>
		<!-- <welcome-file>login.jsp</welcome-file> -->
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!--  <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener> -->
</web-app>

